name: Docker Image CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: 从Registry中拉取镜像
        run: |
          apt update && apt install docker.io
          docker pull  --platform linux/armv7 huangzulin/aria2-ui:latest

      - name: Push the Docker image
        run: |
          docker version
          # 登录阿里云镜像仓库
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-hongkong.aliyuncs.com
          #将镜像推送到Registry
          docker tag huangzulin/aria2-ui:latest  registry.cn-hongkong.aliyuncs.com/fhertyu/aria2ng-webui:armv7
          # 推送镜像到镜像仓库
          docker push registry.cn-hongkong.aliyuncs.com/fhertyu/aria2ng-webui:armv7
