name: Docker Image CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: 从Registry中拉取镜像
        run: |
          sudo apt update && curl -fsSL https://get.docker.com -o get-docker.sh
          sudo sh get-docker.sh
          docker pull  --platform 	linux/arm/v7 whyour/qinglong:2.15.6

      - name: Push the Docker image
        run: |
          docker version
          # 登录阿里云镜像仓库
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-hongkong.aliyuncs.com
          #将镜像推送到Registry
          docker tag whyour/qinglong:2.15.6  registry.cn-hongkong.aliyuncs.com/fhertyu/qinglong:2.15.6-armv7
          # 推送镜像到镜像仓库
          docker push registry.cn-hongkong.aliyuncs.com/fhertyu/qinglong:2.15.6-armv7
